<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

    <table>
        <thead>
        <tr>
            <th> Name </th>
            <th> Role </th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${users.empty}">
            <td colspan="2"> No Books Available </td>
        </tr>
        <tr th:each="user : ${users}">
            <td><span th:text="${user.username}"> Title </span></td>
            <td><span th:text="${user.roles}"> Author </span></td>
            <td><a href="/user/${user.id}">edit</a></td>
        </tr>
        </tbody>
    </table>

</body>
</html>